.component {
    display: block;
    background: #D1E5E1;
    border: 1px double gray;
    min-height: 10rem;
    font-size: 0.9rem;
    margin-bottom: 1vh;
    width: 10rem;
    position: absolute;
    top: 3em;
    left: 3em;
    text-align: center;
    color: rgb(121, 126, 120);
}

.component--high {
    background: #B4DC47;
}

.component--medium {
    background: #F4C141;

}

.component--low {
    background: #F08080;

}

.component__header {
    padding: 0.4em 0 0.4em 0;
    border-bottom: 1px solid lightslategray;
    background-color: forestgreen;
    color: lightgreen;
    cursor: grab;
}

.component__description {
    padding: 0.25em;
    border-bottom: 1px solid lightslategray;
}

.component__publish {
    padding: 0.25em;
    border-bottom: 1px solid lightslategray;
    color: lightseagreen;
}
